.chip {
  .MuiAutocomplete-tag {
    background: #5927e5 !important;
    color: white;
  }
  .MuiChip-label {
    color: #fff !important;
    font-weight: 600;
    font-size: 14px;
  }
  .MuiChip-deleteIcon {
    color: #fff !important;
  }
}
